* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #151515;
  color: white;
  width: 80%;
  margin: 0px auto;
  font-family: "Actor";
}

#main__header {
  text-align: center;
  padding: 20px;
}

#movie__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#movie__list .film {
  margin-top: 20px;
  -webkit-transition: -webkit-transform 100ms ease-out;
  transition: -webkit-transform 100ms ease-out;
  transition: transform 100ms ease-out;
  transition: transform 100ms ease-out, -webkit-transform 100ms ease-out;
}

#movie__list .film a img {
  border: 1px solid #202020;
  height: 270px;
  width: 180px;
}

#movie__list .film:hover {
  position: relative;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.glitch {
  position: relative;
  text-align: center;
  color: white;
  font-size: 4em;
  letter-spacing: 0.5em;
  animation: glitch-skew s 5s linear alternate-reverse;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s 5s linear alternate-reverse;
}

@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(77px, 9999px, 36px, 0);
    -webkit-transform: skew(0.96deg);
            transform: skew(0.96deg);
  }
  5% {
    clip: rect(69px, 9999px, 12px, 0);
    -webkit-transform: skew(0.66deg);
            transform: skew(0.66deg);
  }
  10% {
    clip: rect(47px, 9999px, 20px, 0);
    -webkit-transform: skew(0.14deg);
            transform: skew(0.14deg);
  }
  15% {
    clip: rect(8px, 9999px, 69px, 0);
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  20% {
    clip: rect(75px, 9999px, 51px, 0);
    -webkit-transform: skew(0.92deg);
            transform: skew(0.92deg);
  }
  25% {
    clip: rect(81px, 9999px, 6px, 0);
    -webkit-transform: skew(0.85deg);
            transform: skew(0.85deg);
  }
  30% {
    clip: rect(13px, 9999px, 29px, 0);
    -webkit-transform: skew(0.87deg);
            transform: skew(0.87deg);
  }
  35% {
    clip: rect(40px, 9999px, 3px, 0);
    -webkit-transform: skew(0.07deg);
            transform: skew(0.07deg);
  }
  40% {
    clip: rect(40px, 9999px, 74px, 0);
    -webkit-transform: skew(0.74deg);
            transform: skew(0.74deg);
  }
  45% {
    clip: rect(25px, 9999px, 63px, 0);
    -webkit-transform: skew(0.81deg);
            transform: skew(0.81deg);
  }
  50% {
    clip: rect(63px, 9999px, 76px, 0);
    -webkit-transform: skew(0.85deg);
            transform: skew(0.85deg);
  }
  55% {
    clip: rect(58px, 9999px, 69px, 0);
    -webkit-transform: skew(0.08deg);
            transform: skew(0.08deg);
  }
  60% {
    clip: rect(77px, 9999px, 3px, 0);
    -webkit-transform: skew(0.45deg);
            transform: skew(0.45deg);
  }
  65% {
    clip: rect(56px, 9999px, 27px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  70% {
    clip: rect(10px, 9999px, 9px, 0);
    -webkit-transform: skew(0.59deg);
            transform: skew(0.59deg);
  }
  75% {
    clip: rect(22px, 9999px, 48px, 0);
    -webkit-transform: skew(0.7deg);
            transform: skew(0.7deg);
  }
  80% {
    clip: rect(2px, 9999px, 11px, 0);
    -webkit-transform: skew(0.35deg);
            transform: skew(0.35deg);
  }
  85% {
    clip: rect(31px, 9999px, 81px, 0);
    -webkit-transform: skew(0.2deg);
            transform: skew(0.2deg);
  }
  90% {
    clip: rect(19px, 9999px, 64px, 0);
    -webkit-transform: skew(0.73deg);
            transform: skew(0.73deg);
  }
  95% {
    clip: rect(45px, 9999px, 71px, 0);
    -webkit-transform: skew(0.49deg);
            transform: skew(0.49deg);
  }
  100% {
    clip: rect(10px, 9999px, 18px, 0);
    -webkit-transform: skew(0.58deg);
            transform: skew(0.58deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(77px, 9999px, 36px, 0);
    -webkit-transform: skew(0.96deg);
            transform: skew(0.96deg);
  }
  5% {
    clip: rect(69px, 9999px, 12px, 0);
    -webkit-transform: skew(0.66deg);
            transform: skew(0.66deg);
  }
  10% {
    clip: rect(47px, 9999px, 20px, 0);
    -webkit-transform: skew(0.14deg);
            transform: skew(0.14deg);
  }
  15% {
    clip: rect(8px, 9999px, 69px, 0);
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  20% {
    clip: rect(75px, 9999px, 51px, 0);
    -webkit-transform: skew(0.92deg);
            transform: skew(0.92deg);
  }
  25% {
    clip: rect(81px, 9999px, 6px, 0);
    -webkit-transform: skew(0.85deg);
            transform: skew(0.85deg);
  }
  30% {
    clip: rect(13px, 9999px, 29px, 0);
    -webkit-transform: skew(0.87deg);
            transform: skew(0.87deg);
  }
  35% {
    clip: rect(40px, 9999px, 3px, 0);
    -webkit-transform: skew(0.07deg);
            transform: skew(0.07deg);
  }
  40% {
    clip: rect(40px, 9999px, 74px, 0);
    -webkit-transform: skew(0.74deg);
            transform: skew(0.74deg);
  }
  45% {
    clip: rect(25px, 9999px, 63px, 0);
    -webkit-transform: skew(0.81deg);
            transform: skew(0.81deg);
  }
  50% {
    clip: rect(63px, 9999px, 76px, 0);
    -webkit-transform: skew(0.85deg);
            transform: skew(0.85deg);
  }
  55% {
    clip: rect(58px, 9999px, 69px, 0);
    -webkit-transform: skew(0.08deg);
            transform: skew(0.08deg);
  }
  60% {
    clip: rect(77px, 9999px, 3px, 0);
    -webkit-transform: skew(0.45deg);
            transform: skew(0.45deg);
  }
  65% {
    clip: rect(56px, 9999px, 27px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  70% {
    clip: rect(10px, 9999px, 9px, 0);
    -webkit-transform: skew(0.59deg);
            transform: skew(0.59deg);
  }
  75% {
    clip: rect(22px, 9999px, 48px, 0);
    -webkit-transform: skew(0.7deg);
            transform: skew(0.7deg);
  }
  80% {
    clip: rect(2px, 9999px, 11px, 0);
    -webkit-transform: skew(0.35deg);
            transform: skew(0.35deg);
  }
  85% {
    clip: rect(31px, 9999px, 81px, 0);
    -webkit-transform: skew(0.2deg);
            transform: skew(0.2deg);
  }
  90% {
    clip: rect(19px, 9999px, 64px, 0);
    -webkit-transform: skew(0.73deg);
            transform: skew(0.73deg);
  }
  95% {
    clip: rect(45px, 9999px, 71px, 0);
    -webkit-transform: skew(0.49deg);
            transform: skew(0.49deg);
  }
  100% {
    clip: rect(10px, 9999px, 18px, 0);
    -webkit-transform: skew(0.58deg);
            transform: skew(0.58deg);
  }
}

/* - - - - - MEDIA - - - - - */
@media (max-width: 549px) {
  .glitch {
    font-size: 2.5em;
    letter-spacing: normal;
  }
  .searchbar #input {
    width: 80%;
    margin-top: 15px;
  }
  .searchbar .fa-search {
    display: none;
  }
  .filter__options .radio {
    margin: 5px 0px;
  }
}

@media (min-width: 550px) and (max-width: 1019px) {
  .glitch {
    font-size: 4em;
    letter-spacing: normal;
  }
  .searchbar #input {
    width: 80%;
    margin-top: 15px;
  }
  .searchbar .fa-search {
    display: none;
  }
  .filter__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 1020px) {
  .searchbar {
    position: absolute;
    top: 90px;
    right: 12%;
  }
  .searchbar #input {
    width: 0px;
    opacity: 0;
    -webkit-transition: width 500ms ease-in-out;
    transition: width 500ms ease-in-out;
  }
  .searchbar .fa-search {
    color: white;
    font-size: 1rem;
  }
  .searchbar:hover #input {
    width: 150px;
    opacity: 1;
  }
  .filter__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
/*# sourceMappingURL=style.css.map */