*{
  padding: 0;
  margin: 0;
}
.wrapper{
  width: 75%;
  margin: 0 auto;
}
.mainheader{
  text-align: center;
  background-color: #70af85;
  color: white;
  padding: 30px;
}
.songform{
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.songform > *{
  padding: 7px;
  width: 100%;
  margin: 0px 20px;
}
.song-row__item{
  padding: 5px;
}
.song-row:nth-child(even){
  background-color: #c6ebc9a6;
}
.song-row:nth-child(odd){
  background-color:#c6ebc9;
}
.trash{
  text-align: center;
  width: 3%;
}
.options-menu{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.options-menu > *{
  padding: 7px;
  margin: 0px 20px;
}
.optionsline{
  border-top: 1px solid #aa8976;
  margin: 0 auto;
  width: 92%;
}
.bottom {
  margin-bottom: 20px;
}